name: Bewize Java Backend CI Standard

on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      java-version:
        required: false
        type: string
        default: '17'
      spring-profile:
        description: "The Spring profile to use (e.g., test, dev)"
        type: string
        required: false
        default: "test"
      maven-args:
        description: "Arguments to pass to maven"
        required: false
        type: string
        default: "clean verify"
      app-name:
        description: "Name of the application (used for artifacts and reports)"
        type: string
        default: "app"
      push-image: 
        type: boolean
        default: false
      image-tag:
        type: string
        required: false
      docker-registry-url:
        description: "Docker registry URL (e.g. rg.fr-par.scw.cloud/my-registry/)"
        type: string
        required: false
      docker-registry-username:
        description: "Docker registry username"
        type: string
        required: false
    secrets:
      docker-registry-password:
        required: false

jobs:
  build-and-verify:
    name: Build and Verify
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
      security-events: write

    defaults:
      run:
        working-directory: ${{ inputs.working-directory }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build with Maven
        run: mvn ${{ inputs.maven-args }} --batch-mode --file pom.xml -Dspring.profiles.active=${{ inputs.spring-profile }}

      - name: Publish Test Report
        if: always()
        uses: mikepenz/action-junit-report@v4
        with:
          report_paths: '**/surefire-reports/TEST-*.xml'
          check_name: "Test Results: ${{ inputs.app-name }}"

      - name: Upload JAR
        if: ${{ inputs.push-image }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.app-name }}-jar
          path: target/*.jar

  docker-build:
    name: Docker Build
    needs: build-and-verify
    if: ${{ inputs.push-image }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.app-name }}-jar
          path: target/
          
      - uses: docker/login-action@v3
        with:
          registry: ${{ inputs.docker-registry-url }}
          username: ${{ inputs.docker-registry-username }}
          password: ${{ secrets.docker-registry-password }}
          
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ inputs.image-tag }}
